@font-face {
    font-family: 'PetscopWide';
    src: url("./assets/fonts/PetscopWide.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    color: white;
    background-color: black;
    text-align: center;
}
h1 {
    font-family: 'PetscopWide';
    font-weight: normal;
}
#buttons {
    max-width: 800px;
    margin: 0 auto; /* Centers the flex container horizontally */
    display: flex; /* Activate Flexbox layout */
    flex-wrap: wrap; /* Optional: Allows items to wrap */
    justify-content: center; /* Horizontally centers the flex items */
    align-items: center; /* Vertically centers the flex items */
}
.buttonSprite {
    padding: 2px;
}

#word {
    font-family: 'PetscopWide';
    font-size: large;
    opacity: 1;
    transition: opacity 1s;
}

.fade {
    opacity: 0 !important;
}

.testing {
    display: none;
}